<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumsung.braindash" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGame">
        <service android:enabled="true" android:name="com.sumsung.braindash.services.MusicService" />
        <activity
            android:name="com.sumsung.braindash.mainmenu.MainMenuActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sumsung.braindash.mainmenu.games.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>